extends ../include/layout.pug

block body
    form.row#form-date(action="", method="GET")
        div.col-xs-6
            div.row
                div.col-xs-1
                    span.form-label Date
                div.col-xs-3
                    input.form-control(type="date", name="date", value=currentDate)
                div.col-xs-1
                    button.btn.btn-success Submit
    table.table.table-striped.table-hover#table-log
        thead
            tr
                th Time
                th Source
                th Severity
                th Message
        tbody
            each log in logs
                tr
                    td.cell-time #{log.time}
                    td.cell-source #{log.source}
                    td.cell-severity #{log.severity}
                    td.cell-message #{log.message}
