extends ./include/layout.pug

block body
    div.row
        div.col-xs-12.text-center
            span.text-success.status-message#success
            span.text-danger.status-message#error
            p.time #{new Date().toLocaleTimeString()}
            p.user-name #{firstName} #{lastName}
            p.user-id #{id}
            button.btn.btn-success#btn-clock Clock #{needsClockIn ? "In" : "Out"}
            br
            button.btn.btn-primary#btn-note Note
            div.hidden#container-note
                textarea.border-rounded.keep-caret#input-notes(rows = "5", cols = "75", placeholder = "Enter notes here")
                br
                button.btn.btn-success#btn-submit Submit
