mixin schedule-empty-hour(rowID, column)
    div.schedule-cell
        - var count = 0
        while count < 4
            div.schedule-cell-quarter(
                data-row=rowID,
                data-cell=-1,
                data-quarter=count,
                data-column=column,
                data-previous-color="none",
                data-location="",
                data-available="false",
                data-time="00:00:00")
            - column++
            - count++

link(rel="stylesheet",href=baseurl + "css/templates/schedule.css")
div
    div.hidden#schedule-error
    div.hidden#schedule-message
    input#row-type(type="hidden", value=scheduleRowType)
    if scheduleRowType == "person"
        div.schedule-filter-row
            div.col-xs-4.center-vertical
                - var days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
                each day, index in days
                    - var className = scheduleFilters.day == index ? "border-rounded" : "";
                    span.schedule-filter-link.schedule-filter-cell(data-param="day",data-value=index, class=className) &nbsp; #{day.toUpperCase()} &nbsp;
            div.col-xs-3.center-vertical
                | SORT BY
                select.schedule-filter-link.border-rounded(data-param="sort")
                    - var sortables = ["name", "hours", "total hours"];
                    each sortable in sortables
                        - var isSelected = scheduleFilters.sort == sortable ? {"selected": "selected"} : {}
                        option(value=sortable)&attributes(isSelected) #{sortable.toUpperCase()}
            div.col-xs-3.center-vertical
                input.border-rounded.normal-input(type="text",placeholder="SEARCH")
    div.schedule-filter-row
        div.col-xs-4.center-vertical
            if scheduleRowType == "person"
                select.border-rounded.input-filter(data-filter="position-names")
                    option(value="") ALL
                    //- TODO: Add filters here
                    for position in schedulePositionNames
                        - var isSelected = scheduleFilters.position == position ? {"selected": "selected"} : {}
                        option(value=position)&attributes(isSelected) #{position.toUpperCase()}
                select.border-rounded.input-filter(data-filter="position-categories")
                    option(value="") ALL
                    //- TODO: Add filters here
                    for category in schedulePositionCategories
                        - var isSelected = scheduleFilters.category == category ? {"selected": "selected"} : {}
                        option(value=category)&attributes(isSelected) #{category.toUpperCase()}
        div.col-xs-3.center-vertical
            if scheduleRowType == "day" || (permissions.has("edit/schedule/master") && scheduleMode == "manager")
                | PALETTE
                select.border-rounded#schedule-palette
                    for location, name in scheduleLocationPalette
                        option(value=location) #{name}
            | &nbsp; TERM
            select.schedule-filter-link.border-rounded#schedule-term(data-param="term")
                for term in scheduleTerms
                    - var isSelected = scheduleFilters.term == term.id ? {"selected": true} : {}
                    option(value=term.id)&attributes(isSelected) #{term.name.toUpperCase()}
        div.col-xs-3.center-vertical
            if scheduleRowType == "person" && permissions.has("edit/schedule/master") && scheduleMode != "manager"
                span.schedule-filter-link(data-param="edit", data-value="yes")
                    button.border-rounded MANAGER ACCESS
            if scheduleMode == "availability" || (scheduleMode == "manager" && permissions.has("edit/schedule/master"))
                button.btn.btn-success.btn-schedule-submit Submit
    div.schedule-box
        div.schedule-row
            div.schedule-left-col.col-md-2
            div.schedule-cell-row.schedule-header-row.col-md-10
                for hour in scheduleHours
                    div.schedule-cell.schedule-header-cell.col-md-2 #{hour}
        for row, rowID in scheduleRows
            - var column = 0
            div.schedule-row.schedule-row-filterable&attributes(row.filterables)
                div.schedule-left-col.col-md-2
                    div.schedule-label #{row.label}
                    //- div.schedule-hours #{row.dayTotal} / #{row.weekTotal}
                div.schedule-cell-row.col-md-10(data-userid=row.userid, data-day=row.day)
                    +schedule-empty-hour(rowID, column)
                    - column += 4
                    for hour, hourID in row.slots
                        div.schedule-cell
                            for slot, slotID in hour
                                - var location = slot.center == -1 ? ((slot.isAvailable == 1) ? "AV" : "UV") : slot.center
                                div.schedule-cell-quarter(
                                    data-row=rowID,
                                    data-cell=hourID,
                                    data-quarter=slotID,
                                    data-column=column,
                                    data-previous-color="none",
                                    data-location=location,
                                    data-available=slot.isAvailable,
                                    data-time=slot.time)
                                - column++
                    +schedule-empty-hour(rowID, column)
                    - column += 4
