extends ../include/layout.pug

include ../templates/modal.pug
include ../templates/timesheet.pug

mixin input-allowance(name, title)
    p
        input.modal-allowance(type="checkbox", data-name=name)
        span.modal-allowance-label #{title}

mixin shirt-size-table(type)
    table.table.table-condensed.table-striped
        thead
            tr
                th #{type} Size
                th Count
        tbody
            each size in sizes
                tr
                    td #{size}
                    td #{shirtSizes[size] ? shirtSizes[size][type.toLowerCase() + "Count"] : 0}

mixin position-count-table(start, end, data)
    table.table.table-condensed.table-striped
        thead
            tr
                th Position
                th Count
        tbody
            - for (var i = start; i < end; i++)
                tr
                    td #{data[i].name}
                    td #{data[i].count}

mixin employee-block(employee)
    div.employee-block(data-toggle="modal", data-target="#modal", data-id=employee.id)
        div.text-center.employee-header
            img.employee-photo(width="100", height="100", data-username=employee.username)
            - var lastNameTokens = employee.lastName.split(" ");
            span.employee-name #{employee.firstName.split(" ")[0]} #{lastNameTokens[lastNameTokens.length - 1]}
            -
                var allowances = {
                    "alarm": employee.alarm == 1,
                    "call1": employee.call1 == 1,
                    "call2": employee.call2 == 1,
                    "sick":  employee.sick == 1,
                    "hw1":   employee.hw1 == 1,
                    "hw2":   employee.hw2 == 1,
                    "hw3":   employee.hw3 == 1
                }
            span.hidden.employee-data(
                data-positions=JSON.stringify(employee.positions),
                data-mentor=employee.mentor,
                data-allowances=JSON.stringify(allowances),
                data-notes=employee.notes,
                data-timesheet=JSON.stringify(employee.timesheet),
                data-permissions=JSON.stringify(employee.permissions))
    br

block body
    - var sizes = ["S", "M", "L", "XL", "XXL"];
    div.header-bar.row
        div.header-block.col-xs-2
            +shirt-size-table("Shirt")
        div.header-block.col-xs-2
            +shirt-size-table("Hoodie")
        div.header-block.col-xs-4.text-center
            if filters.error && !filters.positionName && !filters.positionCategory
                div.text-danger
                    if filters.error == 404
                        | Your filter did not match any employees!
            div
                a.btn.btn-primary.btn-header(href=baseurl + "log/front") Front Desk Log
            //- div
            //-     input.form-control#input-filter(type="text")
            div
                select.input-filter.border-rounded(data-filter="positionName")
                    option(value="") All
                    each name in selectPositionNames
                        - var isSelected = filters.positionName == name ? {"selected": "selected"} : {};
                        option(value=name)&attributes(isSelected) #{name}
                select.input-filter.border-rounded(data-filter="positionCategory")
                    option(value="") All
                    each category in selectPositionCategories
                        - var isSelected = filters.positionCategory == category ? {"selected": "selected"} : {};
                        option(value=category)&attributes(isSelected) #{category}
        - var midway = Math.floor(positionCounts.length / 2);
        div.header-block.col-xs-2
            +position-count-table(0, midway, positionCounts)
        div.header-block.col-xs-2
            +position-count-table(midway, positionCounts.length, positionCounts)
    div.modal.fade#modal(tabindex="-1")
        div.modal-dialog.modal-lg
            div.modal-content
                div.modal-header
                    button.close(type="button", data-dismiss="modal") &times;
                    div
                        img.employee-photo#modal-photo(width="100", height="100")
                        span.employee-name.modal-title#modal-title
                div.modal-body
                    div#status-container.col-xs-12
                        span.text-success#modal-success
                        span.text-danger#modal-error
                    +collapsible-parent("Positions")
                        table.table.table-striped.table-hover
                            thead
                                tr
                                    th Position Name
                                    th Position Category
                                    th Position Start Date
                                    th Position End Date
                            tbody#modal-positions
                        div
                            select#select-position
                                each position in positions
                                    option(value=position.id, data-name=position.name, data-category=position.category) #{position.category}: #{position.name}
                            button.btn.btn-success#btn-position-add Add Position
                    +collapsible-parent("Allowances / Mentor Progression")
                        div
                            +input-allowance("alarm", "Alarm Clock Day")
                            +input-allowance("call1", "Call-In #1")
                            +input-allowance("call2", "Call-In #2")
                            +input-allowance("sick", "Personal / Sick Day")
                            +input-allowance("hw1", "Homework Verbal Warning")
                            +input-allowance("hw2", "Homework Manager Meeting")
                            +input-allowance("hw3", "Homework Director Meeting")
                        div.hidden#mentor-container
                            span Mentor Progression
                            input(type="number")#input-mentor
                    +collapsible-parent("Log References")
                        div.row
                            div.col-xs-10
                                input.form-control#input-log-message(placeholder="Message", type="text")
                            button.col-xs-2.btn.btn-success#btn-submit-log Submit
                        table.table.table-striped.table-hover.col-xs-12#table-log-container
                            thead
                                tr
                                    th Date / Time
                                    th Author
                                    th Message
                                    th Category
                            tbody#table-log
                    +collapsible-parent("Scheduling Notes / Preferences")
                        textarea(disabled)#output-notes
                    +collapsible-parent("Timesheet")
                        +table-timesheet([], true)
                    +collapsible-parent("Permissions")
                        table.table.table-striped.table-hover
                            thead
                                tr
                                    th Permission Name
                            tbody#modal-permissions
                        div.col-xs-5
                            input.form-control#input-permission(type="text")
                        div
                            button.btn.btn-success#btn-permission-add Add Permission
                div.modal-footer
                    //- Part of a nametag generation system that's not finished
                    //- form#form-nametag(method="POST", action="/office/post/generate-nametag")
                    //-     input(type="hidden", name="userid")#input-nametag-id
                    //-     button.btn.btn-warning Generate Nametag
                    button.btn.btn-primary#btn-save Save Changes
    div
        div.col-xs-4.employee-column
            -
                var length = employees.length;
                if (length % 3 == 0) {
                    length -= 1;
                }
            - for (var i = 0; i < length; i += 3)
                +employee-block(employees[i])
        div.col-xs-4.employee-column
            -
                var length = employees.length;
                if (length % 3 == 1) {
                    length -= 1;
                }
            - for (var i = 1; i < length; i += 3)
                +employee-block(employees[i])
        div.col-xs-4.employee-column
            -
                var length = employees.length;
                if (length % 3 == 2) {
                    length -= 1;
                }
            - for (var i = 2; i < length; i += 3)
                +employee-block(employees[i])
