extends ../include/layout.pug

mixin select-term()
    select.border-rounded.keep-caret(data-name="term")
        each term in terms
            -
                var isSelected = term.id == currentTerm ? {"selected": "selected"} : {}
                var name = term.name + (term.session == "1" ? "" : (" (" + term.session + ")"))
            option(value=term.id)&attributes(isSelected) #{name}

mixin select-physical-center()
    select.border-rounded.keep-caret(data-name="center")
        each center in centers
            if center.capacity > 0
                option(value=center.id) #{center.shorthand}

mixin report-section(name)
    div.report-section(data-report=name, style="display: none;")
        block

mixin report-submit()
    button.btn.btn-success.btn-report-submit Submit

block body
    div
        h2 Select Report
        select.border-rounded.keep-caret#input-report
            option(value="schedule") Schedule Data
            option(value="visitation") Visitation Info
            option(value="payroll") Payroll Expenditure
            option(value="visits") Visits
            option(value="studentsection") Student Enrollment
            option(value="deviation") Visit Deviation
            option(value="visits-center") Visits By Center
            option(value="course-enrollment") Enrollment by Courses
    +report-section("schedule")
        h3 Get Scheduled Hours Per Employee
        div.section-input
            +select-term()
            +report-submit()
    +report-section("visitation")
        h3 Get Course Info For Visitations
        div.section-input
            div.section-divider
                +select-term()
            div.section-divider
                select.border-rounded.keep-caret(data-name="tutor")
                    each tutorLevel in tutorLevels
                        option(value=tutorLevel.levelName) #{tutorLevel.levelName}
            +report-submit()
    +report-section("payroll")
        h3 Get Payroll Expenditure
        div.section-input
            div.section-divider
                +select-term()
            div.section-divider
                select.border-rounded.keep-caret(data-name="department")
                    each department in departments
                        option(value=department.id) #{department.name}
            div.section-divider
                select.border-rounded.keep-caret.report-select2#select-payroll-positions(data-name="positions", data-placeholder="Position", multiple, style="width: 25%;")
                    each position in positionNames
                        option(value=position.name) #{position.name}
                button.btn.btn-primary.select-2-all(data-select2="#select-payroll-positions") Select All
            +report-submit()
    +report-section("visits")
        h3 Get Visits By Student
        div.section-input
            div.section-divider.row
                div.col-xs-3.no-col-padding
                    input.form-control(type="text", data-name="id", placeholder="Student ID / Username")
            +report-submit()
    +report-section("studentsection")
        h3 Get Student Enrolled Courses
        div.section-input
            div.section-divider.row
                div.col-xs-3.no-col-padding
                    input.form-control(type="text", data-name="id", placeholder="Student ID / Username")
            +report-submit()
    +report-section("deviation")
        h3 Get Visit Deviation From Term
        div.section-input
            div.section-divider
                +select-term()
            div.section-divider
                +select-physical-center()
            +report-submit()
    +report-section("visits-center")
        h3 Get Visits By Center
        div.section-input
            div.section-divider
                +select-term()
            div.section-divider
                +select-physical-center()
            +report-submit()
    +report-section("course-enrollment")
        h3 Get Course Enrollment Counts
        div.section-input
            div.section-divider
                +select-term()
            div.section-divider
                select.border-rounded.keep-caret.report-select2#select-enrollment-courses(data-name="courses", data-placeholder="Courses", multiple, style="width: 25%;", data-url="/office/post/get-courses")
            +report-submit()
    //- +report-section("examjam")
    //-     h3 Get Exam Jam Visits
    //-     div.section-input
    //-         div.section-divider
    //-             +select-term()
    //-         div.section-divider
    //-             select.border-rounded.keep-caret(data-name="level")
    //-                 each level in examJamLevels
    //-                     option(value=level) level

    div
        span.text-success#success
        span.text-error#error
        span.form-label(style="display: none;")
            | Total:
            span#results-total
        table.table.table-striped.table-hover#table-results
            thead
            tbody
